.eshop-header {
    background: url(../images/meng/2019-lollapalooza.jpg) no-repeat;
	background-size: 100%;
	background-position-y: center; 
    padding: 100px 0;
    margin-top: 0px;
}

.row {
	display: flex;
}
